script(async src="https://www.googletagmanager.com/gtag/js?id=UA-59964148-8")

script
  include analytics.js




//- Google Tag Manager 
script.
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-W8M4CPGQ');
//-  End Google Tag Manager 

//-  Google Tag Manager (noscript) 
noscript <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W8M4CPGQ" height="0" width="0" style="display:none;visibility:hidden"></iframe>
//-  End Google Tag Manager (noscript) 



//- GHL Live Chat Widget
script(src="https://widgets.leadconnectorhq.com/loader.js", data-resources-url="https://widgets.leadconnectorhq.com/chat-widget/loader.js", data-widget-id="668663536ae85698f974481b").
