nav.navigation
  ul.navigation__list
    li.navigation__item
      a.navigation__link(href="/espidesigns2021/") ESPIDESIGNS //

    li.navigation__item
      a.navigation__link(href="/espidesigns2021/") Work

    li.navigation__item
      a.navigation__link(href="/espidesigns2021/about") About

    li.navigation__item
      a.navigation__link(href="https://seemless.link/@espidesigns" target="_blank") Reach Out

  button.navigation__easter Activate Easter Egg
