doctype html
html(lang="en" style="background: #151c13;")
  head
    //- Include case partial first to make case data available
    include ./partials/case
    include ./partials/head

  body
    include ./partials/navigation

    include ./partials/home
    include ./partials/about
    include ./partials/case

    include ./partials/noscript
    include ./partials/analytics
